body{
	margin: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: #222;
}
.flex-container{
	display: flex;
	flex-flow: row wrap;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}
.series-intro{
	display: flex;
	flex-direction: row;
}
.series-text{
	flex-basis: 60vw;
	padding: 10px;
	font-size: 20px;
}
.series-topics{
	flex-basis: 25vw;
	padding: 10px 0;
}
.series-topics ul{
	list-style-type: none;
	padding-inline-start: 20px;
	margin-block-start: .4em;
	line-height: 1.3; 
	font-size: 1.3em;
	font-weight: 600;
	font-family: 'Unify Sans', Tahoma, sans-serif;
}
.series-topics li{
	margin: 10px 0;
}
.series-topics ul a{
	border-left: 3px solid #b10000;
	padding-left: 10px;
}

.series-topics ul a.upcoming{
	border-left: 3px solid #636363;
	padding-left: 10px;
	cursor: not-allowed;
	color: #b4b4b4;
}