body{
	margin: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: #222;
}
.series-breaker{
	display: block;
	margin: 5% auto;
	width: 100px;
	height: 8px;
	background-color: #b10000;
}
/* .series-topper{
background: url('media/topper-barn.jpg') no-repeat;-webkit-background-size: 100%;-moz-background-size: 100%;-o-background-size: 100%;background-size: 100%;
padding-bottom: 50%;
margin-bottom: 3%;
position: relative;
} */
.topper-title{
	font-size: 4rem;
	color: #222;
	background: rgba(252, 252, 252, 0.9);
	padding: 10px 20px;
	border-radius: 3px;
	box-shadow: 2px 5px 10px 4px rgba(0, 0, 0, 0.3);
	border: 1px solid #ccc;
	position: absolute;
	top: 12%;
	left: 7%;
	font-weight: 700;
	text-align: center;
	font-family: 'Unify Sans', Tahoma, sans-serif;
}
.topper-title-mob{
	display: none;
}
.topper-subhead{
	text-transform: uppercase;
	font-family: 'Unify Sans', Tahoma, sans-serif;
	font-weight: 400;
	font-size: 19px;
	text-align: center;
	color: #636363;
	position: relative;
}
.topper-subhead-mob{
	display:none
}
.topper-subhead::before{
	display: block;
	position: absolute;
	top: -30px;
	left: 43%;
	content: " ";
	width: 100px;
	height: 230px;
	border-top: 8px solid #b10000;
}
.flex-container{
	display: flex;
	flex-flow: row wrap;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}
.series-intro{
	display: flex;
	flex-direction: row;
}
.series-text{
	flex-basis: 60vw;
	padding: 10px;
	font-size: 20px;
}
.series-topics{
	flex-basis: 25vw;
	padding: 10px 0;
}
.series-topics ul{
	list-style-type: none;
	padding-inline-start: 20px;
	margin-block-start: .4em;
	line-height: 1.3; 
	font-size: 1.3em;
	font-weight: 600;
	font-family: 'Unify Sans', Tahoma, sans-serif;
}
.series-topics li{
	margin: 10px 0;
}
.series-topics ul a{
	border-left: 3px solid #b10000;
	padding-left: 10px;
}

.series-topics ul a.upcoming{
	border-left: 3px solid #636363;
	padding-left: 10px;
	cursor: not-allowed;
	color: #b4b4b4;
}

.dairy-topics{
	display: flex;
	flex-direction: column;
}

.pulitzer-box{
	display: flex;
	flex-direction: row;
	position: relative;
	margin: 5% 0;
  }
  .pulitzer-info{
	flex-basis: 90vw;
	margin: 2% 2% 0 0;
  }
  .pulitzer-title{
	margin-block-start: 0;
	margin-block-end: 1em;
	font-size: 1.7rem;
  }
  .pulitzer-summary{
	font-size: 16px;
	color: #808080;
	font-family: 'Unify Sans', Tahoma, sans-serif;
	font-weight: 400;
	font-style: italic;
  }
  .pulitzer-vis{
	flex-basis: 40vw;
	padding: 20px 70px 20px 0;
	position: relative;
  }


  .mjs-subscriber-callout {
	border-top: 2px solid #b10000;
	border-bottom: 2px solid #b10000;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Unify Sans', Tahoma, sans-serif;
  }
  .mjs-subscriber-callout a {
	text-decoration: underline;
	color: inherit;
	-webkit-text-decoration-color: #b10000;
	text-decoration-color: #b10000;
  }
  
  @media (max-width: 768px) {
	.topper-title{
	  left: 7%;
	  top: 7%;
	  font-size: 2rem;
	  color: #222;
	}
	.topper-subhead{
	  font-size: 16px;
	}
	.topper-subhead::before{
	  top: -15px;
	  left: 40%;
	  border-top: 6px solid #b10000;
	}
	.series-intro{
	  display: flex;
	  flex-direction: column;
	}
	.series-topics ul{
	  border-left: none;
	  padding: 0 10px 50px 10px;
	  text-align: center;
	}
	.series-topics ul a {
	  border-left: none;
	  border-bottom: 3px solid #b10000;
	  padding-left: 0;
	}
	.series-topics ul a.upcoming {
	  border-left: none;
	  border-bottom: 3px solid #636363;
	  padding-left: 0;
	}
	.topic-items{
	  display: flex;
	  flex-direction: column;
	}
  }
  @media (max-width: 425px) {
	.topper-title{
	  display: none;
	}
	.topper-subhead{
	  display:none;
	}
	.topper-title-mob{
	  display: inline-block;
	  font-size: 1.5rem;
	  color: #222;
	  font-weight: 700;
	  text-align: left;
	  font-family: 'Unify Sans', Tahoma, sans-serif;
	}
	.topper-subhead-mob{
	  display:inline-block;
	  font-family: 'Unify Sans', Tahoma, sans-serif;
	  font-weight: 400;
	  font-size: 14px;
	  text-align: left;
	  color: #636363;
	  position: relative;
	  padding-top: 30px;
	}
	.topper-subhead-mob::before{
	  display: block;
	  position: absolute;
	  top: 10px;
	  left: 0;
	  content: " ";
	  width:30px;
	  height: 20px;
	  border-top: 6px solid #b10000;
	}
	.topic{
	  margin: 10% 0;
	  border: 6px solid #b10000;
	}
	.topic-title{
	  font-family: 'Unify Sans', Tahoma, sans-serif;
	  font-weight: 400;
	  color: #b10000;
	  position: absolute;
	  top: -63px;
	  font-size: 1.9em;
	}
	.pulitzer-box{
	  display: flex;
	  flex-direction: column;
	}
	.pulitzer-vis{
	  flex-basis: 0;
	  padding: 10px 0;
	  position: relative;
	}
	.pulitzer-info{
	  flex-basis: 0;
	  margin: 0;
	}
  }