.flex-container{
	display: flex;
	flex-flow: row wrap;
    margin: 2% auto;
    max-width: 1400px;
}
img{
	width: 100%;;
}
a {
	text-decoration: none;
}
.topper-title {
    font-size: 3.7rem;
    color: #222;
    font-weight: 700;
    font-family: 'Unify Sans', Tahoma, sans-serif;
    margin-bottom: 5%;
    z-index: -99;
}
.chatter{
    margin: 2%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
.chatter::before {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    content: " ";
    width: 100px;
    height: 230px;
    border-top: 8px solid #009bff;
}
.chatter a{
    color: #009bff;
}
.counter{
    font-family: 'Unify Sans', Tahoma, sans-serif;
    padding: 0 10px;
    align-self: center;
    font-size: 30px;
}
.end-count{
    font-size: 34px;
    color: #009bff;
    font-weight: 700;
}
.checklist-share-button-tw{
    padding-left: 10px;
}
.fab.fa-twitter{
    color: #999;
}
.card-container{
    display: flex;
    flex-flow: row wrap;
    max-width: 1024px;
    margin: 0 auto;
}

@media(max-width: 1024px){
    .flex-container{
        margin: 2%;
    }
}

@media(max-width: 850px){
    .chatter::before {
        top: 150px;
        clear: both;
    }
}
@media(max-width: 770px){
    .flex-container{
        margin: 2%;
    }
    .card-container{
        display: inline;
    }
    .topper-title {
        font-size: 3rem;
    }
    .chatter::before {
        top: 140px;
    }
}